/*
 * (C) Copyright 2017 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

/dts-v1/;

#include "rk3128.dtsi"
#include "rk3128-u-boot.dtsi"
#include <linux/media-bus-format.h>

/ {
	model = "Rockchip RK3128 Evaluation board game pad";
	compatible = "rockchip,rk3128-evb", "rockchip,rk3128";

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

    vcc_io: vcc-io {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        regulator-name = "vcc_io";
        regulator-min-microvolt = <0x325aa0>;
        regulator-max-microvolt = <0x325aa0>;
        regulator-boot-on;
        regulator-always-on;
        vin-supply = <&vcc_sys>;
    };

    vcc_sd: vcc-sd {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <0x69>;
        regulator-name = "vcc_sd";
        regulator-min-microvolt = <0x325aa0>;
        regulator-max-microvolt = <0x325aa0>;
        vin-supply = <&vcc_io>;
    };

    vcc_lcd: vcc-lcd {
        compatible = "regulator-fixed";
        gpio = <0x34 0x0c 0x01>;
        regulator-name = "vcc_lcd";
        regulator-min-microvolt = <0x325aa0>;
        regulator-max-microvolt = <0x325aa0>;
        vin-supply = <&vcc_io>;
        regulator-boot-on;
    };

/*add by tony*/
    display-subsystem {
        compatible = "rockchip,display-subsystem";
        ports = <&vop_out>;
        status = "okay";

        route {

	    route-rgb {
                logo,uboot = "logo.bmp";
                logo,kernel = "logo_kernel.bmp";
                logo,mode = "fullscreen";
                charge_logo,mode = "center";
                connect = <&vop_out_rgb>;
                status = "okay";
            };


            route-lvds {
                logo,uboot = "logo.bmp";
                logo,kernel = "logo_kernel.bmp";
                logo,mode = "fullscreen";
                charge_logo,mode = "center";
                connect = <&vop_out_lvds>;
                status = "disable";
            };

            route-dsi {
                logo,uboot = "logo.bmp";
                logo,kernel = "logo_kernel.bmp";
                logo,mode = "fullscreen";
                charge_logo,mode = "center";
                connect = <&vop_out_dsi>;
                status = "disabled";
            };
        };
    };

	backlight: backlight {
        compatible = "pwm-backlight";
        brightness-levels = <
              0   1   2   3   4   5   6   7
              8   9  10  11  12  13  14  15
             16  17  18  19  20  21  22  23
             24  25  26  27  28  29  30  31
             32  33  34  35  36  37  38  39
             40  41  42  43  44  45  46  47
             48  49  50  51  52  53  54  55
             56  57  58  59  60  61  62  63
             64  65  66  67  68  69  70  71
             72  73  74  75  76  77  78  79
             80  81  82  83  84  85  86  87
             88  89  90  91  92  93  94  95
             96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 244 245 246 247
            248 249 250 251 252 253 254 255>;
        default-brightness-level = <255>;
        pwms = <&pwm0 0 25000 0>;
        status = "okay";
    };

    vcc_lcd: vcc-lcd {
        compatible = "regulator-fixed";
        gpio = <&gpio1 12 1>;
        regulator-name = "vcc_lcd";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        vin-supply = <&vcc_io>;
    };

	lvds-panel {
        compatible = "simple-panel";
        power-supply = <&vcc_lcd>;
        backlight = <&backlight>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_reset>;

        bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;
        width-mm = <105>;
        height-mm = <67>;
        reset-gpios = <&gpio0 24 1>;
        reset-delay-ms = <60>;
		prepare-delay-ms = <100>;
		enable-delay-ms = <130>;
		rockchip,data-mapping = "jeida";
        rockchip,data-width = <18>;
        rockchip,output = "rgb";
		status = "okay";

        display-timings {
            native-mode = <&timing0>;

            timing0: timing0 {
                clock-frequency = <0x30d4000>;
                hactive = <0x400>;
                hback-porch = <0xa0>;
                hfront-porch = <0xa0>;
                hsync-len = <0x0a>;
                vactive = <0x258>;
                vback-porch = <0x17>;
                vfront-porch = <0x0c>;
                vsync-len = <0x0a>;
                hsync-active = <0x00>;
                vsync-active = <0x00>;
                de-active = <0x00>;
                pixelclk-active = <0x01>;
            };
        };

        port {

            panel_in_rgb: endpoint {
                remote-endpoint = <&rgb_out_panel>;
            };
        };
    };
};

&i2c1 {
	status = "okay";

        hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
	};
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&u2phy_host {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci {
	status = "okay";
};

&sdmmc {
	dmas = <&pdma 0x0a>;
	dma-names = "rx-tx";
	num-slots = <0x01>;
	clock-freq-min-max = <0x61a80 0x23c3460>;
    clock-frequency = <0x23c3460>;
    supports-highspeed;
    supports-sd;
    broken-cd;
    card-detect-delay = <0xc8>;
    ignore-pm-notify;
    keep-power-in-suspend;
    vmmc-supply = <&vcc_sd>;
    cd-gpios = <&gpio1 0x11 0x00>;
	status = "okay";
};

&vop {
	status = "okay";
};

&sfc {
	status = "okay";
};

&video_phy{
	status = "okay";
};

&rgb {
	status = "okay";
};

&rgb_out_panel{
	remote-endpoint=<&panel_in_rgb>;	
};
